/* Style général de la page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #f0f2f5;
}

#welcome-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
}

#welcome-screen h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

#welcome-screen p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 30px;
}

/* Conteneur des boutons alignés horizontalement */
.button-container {
  display: flex;
  justify-content: space-evenly; /* Espacement égal entre les boutons */
  gap: 20px; /* Optionnel, pour ajouter un peu plus de marge entre les boutons */
  width: 50%; /* Réduit la largeur du conteneur à 50% */
  max-width: 500px; /* Largeur maximale pour les boutons */
  margin-top: 20px; /* Espace entre le texte et les boutons */
}

.main-button {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1; /* Les boutons prendront une largeur égale */
}

.main-button:hover {
  background-color: #45a049;
}

/* Grille responsive pour les images du jeu */
#images_jeu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 90vw; 
  max-width: 800px;
  margin: 20px auto; 
}

.jeu-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.jeu-image:hover {
  transform: scale(1.1);
}

#images_jeu img {
  width: 100%; 
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#images_jeu img:hover {
  transform: scale(1.05); 
}

#images_apprentissage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 5px; 
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 800px;
  margin: 20px auto; 
}

#images_apprentissage img {
  width: 100%; 
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#images_apprentissage img:hover {
  transform: scale(1.05); 
}


#app-screen {
  padding: 20px;
}

.nav-button {
  padding: 8px 16px;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.nav-button:hover {
  background-color: #555;
}

header {
  margin-bottom: 30px;
}
